h2 {
	font-family:arial;
    font-size: 60px;
    font-weight: normal;
    margin: 0;
	color:#DAA520;
	padding-left:680px;
	}
#photo1{
	width:650px;
	padding-left:500px;
	height:650px;
	}
p {
	text-align:center;
	font-size:25px;
}
#liens{
	padding-right:5px;
	float:right;
}
#twitter{
width:30px;
height:30px;
}
#logo {
    padding-bottom: 20px;
    padding-top: 10px;
		padding-left:200px;
		display:inline;
		width:100px;
		
}
#entete {
    background-image: url("http://www.running-attitude.com/img/bdd/actu/originale/423.jpg");
	background-size: cover;
    color: #FFFFFF;
	height:645px;
}
#logo h1 {
    
    font-family: 'Lobster',cursive;
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}
h1 {
font-size:60px;
font-weight:bold;
text-align:center;
color:#E0CDA9;
font-family: Arial,Helvetica,sans-serif;

}
	div {
		display:flex;
		padding-left:150px;
	}
		
#menu {
    margin-bottom: 21px;
}
dl {
	margin:0;
	padding:0;
	display:block;
	float:left;
	width:185px;
	
		
}
dd
{
	display:block;
	margin:0;
	padding:0;
}
#menu ul {
	position: absolute;
  background-color: #DAA520;
    list-style: none ;
	text-align:center;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#menu li {
	position: relative;
    border-left: 1px solid #AD4F09;
    border-right: 1px solid #AD4F09;
}
#menu li a {
	background-color:#F88E55;
    color: black;
    display: block;
    font-size: 12px;
    padding: 17px 24px;
    text-decoration: none;
}
dt {
	background-color:#F88E55;
    color: black;
    display: block;
    font-size: 12px;
    padding: 17px 24px;
    text-decoration: none;
}
#menu dt:hover {
	   background-color:#F88E55;
 	   color: #FFFFFF;;
}
dl dd {
	display:none;
	
}
dl:hover dd{
		display:block;
		
}
 


#illustration-haut {
    padding-left:145px;
    /*padding: 20px 0;*/
    text-align: center;
	width:1600px;
	height:400px;
}

#bas-de-page {
	margin-top:7em;
    background-image: url("http://i2.cdscdn.com/pdt2/3/0/1/1/300x300/dul3031520130301/rw/peinture-creme-de-couleur-2-5-l-grain-de-sable.jpg");
	padding-left:650px;
	}
#bas-de-page-centre {
    color: #555555;
    padding: 40px;
    text-align: center;
}
#bas-de-page a {
    color: #555555;
}
section, nav, article, aside, header, footer, main {
    display: block;
}